<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
  <div class="chatbot">
    <div class="chat-header">
      <h1>Chatbot</h1>
    </div>
    <div class="chat-window">
      <div class="chat-message user">
        <p>{{chats.userinput}}</p>
      </div>
      <div class="chat-message bot">
        <p>{{botreply}}</p>
      </div>
    </div>
    
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="chat-input">
        <input type="text" name='user-msg' placeholder="Say something...">
        <button type="submit" value="submit">Send</button>
      </div>
    </form>
      
    
  </div>


</body>
</html>
