{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Session Keys</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'chathistorystyle.css' %}">
</head>
<body>

  <div class="wrapper">
    <div class="container">
      <h1>Session Keys</h1>
      <div class="session-list">
        <h2>Recent Keys</h2>
        <ul>
          {% for key in recent_keys %}
            <li class="session-item">
              <a href="{% url 'chat_history' key %}" class="session-link">{{ key }}</a>
            </li>
          {% empty %}
            <li>No sessions available</li>
          {% endfor %}
        </ul>
      </div>
      <div class="session-list">
        <h2>Old Keys</h2>
        <ul>
          {% for key in old_keys %}
            <li class="session-item">
              <a href="{% url 'chat_history' key %}" class="session-link">{{ key }}</a>
            </li>
          {% empty %}
            <li>No sessions available</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="chatbot" style="background-color: rgb(226, 215, 215);">
      <div class="chat-header">
        <h1>Chat History</h1>
      </div>
      <div class="chat-window" id="chat-window">
        {% if sessionhistory %}
          {% for i in sessionhistory %}
            <div class="chat-message user">
              <p>{{i.chathistory.person}}</p>
            </div>
            <div class="chat-message bot">
              <p>{{i.chathistory.response}}</p>
            </div>
          {% endfor %}
        {% else %}
          <p>Click on a session you want to view</p>
        {% endif %}
      </div>
    </div>
  </div>
  
  <script>
    function scrollToBottom() {
      var chatWindow = document.getElementById('chat-window');
      chatWindow.scrollTop = chatWindow.scrollHeight;
    }

    // Scroll to bottom and clear input field after a short delay
    window.onload = function() {
      scrollToBottom();
    };

    // Scroll to bottom when a new message is added
    document.getElementById('chat-form').addEventListener('submit', function() {
      setTimeout(scrollToBottom, 500); // Delay to allow time for the message to be added
    });
  </script>

</body>
</html>